

.main-container{
    margin: 0  20%;
}

.nav-wrapper{
    background-color: #5a3ca5;
}

.login-container{
    padding: 0 35%;
    margin: 5% 0;
}

  

.form-area {
    padding:20px 15%;
    border-radius: 20px;
    font-size: 1.4em;
    background-color: #f1f1f1;
}
.button-submit{
    padding: 20px 0;
}

.recognize-info{
    padding: 10px;
    font-size: medium;
}