

.main-container{
    margin: 20px  20%;
}

.nav-wrapper{
    background-color: #5a3ca5;
}

.login-container{
    padding: 0 35%;
    margin: 5% 0;
}

  

.form-area {
    padding:20px 15%;
    border-radius: 20px;
    font-size: 1.4em;
    background-color: #f1f1f1;
}
.button-submit{
    padding: 20px 0;
}

.recognize-info{
    padding: 10px;
    font-size: medium;
}
.page-footer{
    background-color: #4b4b4b;
}

.create-mission{
    padding: 30px 25%;
}
.add-mission-button, .add-mission-button:focus {
    background-color: #5a3ca5;
}
.add-mission-button:hover{
    background-color: #a595d1;
}

.detail-form{
    background-color: red;
    height: 0px;
    width: 100%;
}
.collapsible-header{
    outline: none;
}
.create-button-area{
    margin: 50px auto;
}

.user-list{
    margin: 50px 0;
    padding: 0 20%;
}